[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
joblib = "*"
scikit-learn = "*"
python-dotenv = "*"
xgboost = "*"
google-cloud = "*"
google-cloud-storage = "*"
update = "*"
google-cloud-bigquery = "*"
functions-framework = "*"
db-dtypes = "*"
flask = "*"
gunicorn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
